<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Conter web suite	">
  <test name="Control_Web_Test">
	  <classes>
       <class name="Control_Web_Test.Demo"/>
        <methods>
		  <include name ="setup"/>
	  </methods>
	  </class>
       </classes>
  </test> 
</suite> 
